* {
    margin: 0;
    padding: 0;
}

body,
#root {
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.Text {
    position: absolute;
    color: white;
}

.textFlex {
    display: flex;
    height: 500vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}